<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<center>
    <table align="center" width="560">
        <tbody>
        <tr>
            <td width="100%" height="20px" style="height: 20px;width: 100%"></td>
        </tr>
        <tr>
            <td align="center" width="100%" height="100%" style="width: 100%;height: 100%">
                <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#fff"
                       style="background-color: #fff;border: 1px solid #b9b9b9;font-size: 14px;font-family: Arial, Helvetica, sans-serif;">
                    <tbody>
                    <tr>
                        <td width="20px" height="100%" style="width: 20px;height: 100%"></td>
                        <td width="auto" height="100%" style="width: auto;height: 100%">
                            <table cellspacing="0" cellpadding="0" width="100%" height="100%" style="border: 0;">
                                <tbody>
                                <tr>
                                    <td width="100%" height="20px" style="height: 20px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellspacing="0" cellpadding="0" width="100%" height="100%"
                                               style="border: 0;">
                                            <tbody>
                                            <tr>
                                                <td align="left" valign="top">
                                                    <a href="https://www.adtoday.co.uk" target="_blank"
                                                       rel="noopener"><img
                                                            src="https://adtoday.co.uk/template/assets/img/basic/logo.png"
                                                            alt="adtoday.co.uk" width="160" height="50" border="0"
                                                            align="top" longdesc="https://www.adtoday.co.uk"
                                                            data-title="adtoday.co.uk"></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" width="100%" height="19px" style="height: 19px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td align="left" bgcolor="#ccc" width="100%" height="1px"
                                        style="background-color: #ccc;height: 1px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td align="left" width="100%" height="20px" style="height: 20px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td width="100%" height="100%" style="height: 100%;width: 100%">


                                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tbody>
                                            <tr>
                                                <td height="60" colspan="2" align="left"
                                                    style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;padding-left: 0;">

                                                    <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;margin-top: 20px;margin-bottom: 20px;">
                                                        <b>Hey!</b>
                                                    </p>
                                                    <p style="font-size: 14px;margin-top: 14px;margin-bottom: 10px;line-height: 20px;">
                                                        Your ad <b><a
                                                            href="http://alegratka.pl/ogloszenie/test-zgloszenie-28919367.html?utm_source=inf-ogl-ale&amp;utm_campaign=sys-email&amp;utm_medium=email&amp;utm_content=link-ogloszenie"
                                                            target="_blank" rel="noopener"
                                                            data-snippet-id="2014ce1f-d43a-c0ea-64c1-361c97a97e83">Test
                                                        zgloszenie (numer ogłoszenia: 28919367)</a></b> jest już
                                                        opublikowane w serwisie.
                                                        Będzie ono wyświetlane przez 31 dni (do 02.09.2017). Po tym
                                                        czasie będzie możliwe jego przedłużenie - poinformujemy Cię o
                                                        tym mailowo.
                                                    </p>

                                                    <p style="font-size: 14px;margin-top: 14px;margin-bottom: 20px;line-height: 20px;">
                                                        Już teraz <b>możesz zwiększyć oglądalność swojego
                                                        ogłoszenia. </b>
                                                    </p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td height="15" bg-color="#ffffff"
                                                    style="background-color: #ffffff;padding: 0;margin: 0;"></td>
                                            </tr>
                                            <tr align="center">
                                                <td>
                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <table border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td bgcolor="#ff002b"
                                                                            style="padding-left: 10px;padding-right: 10px;border-bottom: 2px solid #bf0020;background-color: #ff002b"
                                                                            align="center">
                                                                            <a href="http://alegratka.pl/wyroznienie/dodaj.html?id_ogloszenie=28919367&amp;hash=adfe78fd5d58318ba3967c2bc15bb514&amp;id=9120982&amp;utm_source=inf-ogl-ale&amp;utm_campaign=sys-email&amp;utm_medium=email&amp;utm_content=button-wyroznij"
                                                                               target="_blank"
                                                                               style="padding: 10px;font-size: 20px;font-family: Arial, Helvetica, FreeSans, sans-serif;font-weight: bold;color: #fff;text-decoration: none;display: inline-block;"
                                                                               rel="noopener"
                                                                               data-title="Wyróżnij swoje ogłoszenie">
                                                                                <font face=", Arial, Helvetica, FreeSans, sans-serif">WYRÓŻNIJ
                                                                                    SWOJE OGŁOSZENIE</font>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td height="15" bg-color="#ffffff"
                                                    style="background-color: #ffffff;padding: 0;margin: 0;"></td>
                                            </tr>
                                            <tr>
                                                <td height="20" colspan="2" align="left"
                                                    style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;padding-left: 0;">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-size: 14px;margin-top: 14px;margin-bottom: 20px;line-height: 20px;">
                                            Możesz też zwiększyć zainteresowanie swoim ogłoszeniem, publikując je na
                                            facebooku.
                                        </p>
                                        <table width="100%">
                                            <tbody>
                                            <tr height="10">
                                                <td colspan="2" height="10"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="text-align: center;">
                                                    <a href="https://www.facebook.com/sharer.php?u=http://alegratka.pl/ogloszenie/test-zgloszenie-28919367.html"
                                                       target="_blank" rel="noopener"
                                                       data-title="Pokaż ogłoszenie na Facebooku">
                                                        <img src="//af12.mail.ru/cgi-bin/readmsg?id=15017095170000000838;0;0;1;2&amp;mode=attachment&amp;email=gothards@mail.ru&amp;bs=8658&amp;bl=3151&amp;ct=image%2fpng&amp;cn=btn_fb_pokaz.png&amp;cte=binary"
                                                             alt="Pokaż ogłoszenie na Facebooku">
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr height="20">
                                                <td colspan="5" height="20"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>


                                <tr>
                                    <td>Informujemy, że wyraziłeś zgodę na rozpoczęcie świadczenia usługi przed upływem
                                        terminu do odstąpienia od umowy oraz na jej wykonanie w całości przed upływem
                                        terminu do odstąpienia od umowy.
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" height="20px" align="left" style="height: 20px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left" bg-color="#ffffff"
                                        style="background-color: #ffffff;padding: 0;margin: 0;font-family: Verdana, Geneva, Bitstram Vera Sans, sans-serif;font-size: 12px;">
                                        <p style="padding: 0;margin: 5px 0 15px;font-family: Verdana, Geneva, Bitstram Vera Sans, sans-serif;font-size: 11px;color: #252525;text-align: left;">
                                            Jeśli masz pytania, zadzwoń lub napisz do nas:<br>
                                            tel.: <a target="_blank" rel="noopener">(<span
                                                class="js-phone-number highlight-phone"
                                                data-title="Позвонить через Веб-Агент">+48) 58 739 66 00</span></a><br>
                                            e-mail: <a href="//e.mail.ru/compose/?mailto=mailto%3abok@gratka.pl"
                                                       target="_blank" rel="noopener">bok@gratka.pl</a><br>
                                            Kontakt w dni robocze: 09.00-17.00
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" height="20px" align="left" style="height: 20px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td align="left"
                                        style="font-size:11px;font-family: Arial, Helvetica, FreeSans, sans-serif;">
                                        <p style="margin-top: 0;margin-bottom: 0;">
                                            Pozdrawiamy,<br>
                                            Zespół <a href="http://www.gratka.pl" target="_blank" title=""
                                                      rel="noopener">Gratka.pl</a>
                                        </p></td>
                                </tr>
                                <tr>
                                    <td width="100%" height="20px" align="left" style="height: 20px;width: 100%"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" width="20px" height="100%" style="width: 20px;height: 100%"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td width="100%" height="20px" style="height: 20px;width: 100%"></td>
        </tr>
        <tr>
            <td width="100%" height="100%" style="width: 100%;height: 100%">
                <table align="center" width="100%" cellspacing="0" cellpadding="0"
                       style="font-family: Arial, Helvetica, sans-serif;">
                    <tbody>
                    <tr>
                        <td width="20px" height="100%" style="width: 20px;height: 100%"></td>
                        <td width="auto" height="100%" style="width: auto;height: 100%">
                            <table cellspacing="0" cellpadding="0" width="100%" height="100%" style="border: 0;">
                                <tbody>
                                <tr>
                                    <td align="left" width="100%" height="100%" style="width: 100%;height: 100%">
                                        <p style="color: #666;font-size: 10px;font-family: Arial, Helvetica, FreeSans, sans-serif;margin: 0;">
                                            Polska Press Sp. z o.o., 02-672 Warszawa, ul. Domaniewska 45,<br>NIP
                                            522-01-03-609, Sąd Rejonowy dla m.st. Warszawy, XIII Wydział Gospodarczy<br>Krajowego
                                            Rejestru Sądowego nr KRS 0000002408, Kapitał Zakładowy 42.000.000 PLN</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" height="10px" style="height: 10px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td align="left"
                                        style="font-size: 10px;font-family: Arial, Helvetica, FreeSans, sans-serif;">
                                        <a style="margin-right:15px;" href="http://ofirmie.gratka.pl" target="_blank"
                                           rel="noopener">O firmie</a>
                                        <a style="margin-right:15px;" href="http://ofirmie.gratka.pl/regulamin/"
                                           target="_blank" rel="noopener">Regulamin</a>
                                        <a style="margin-right:15px;"
                                           href="http://ofirmie.gratka.pl/polityka-prywatnosci/" target="_blank"
                                           rel="noopener">Polityka prywatności</a>
                                        <a style="margin-right:15px;" href="http://ofirmie.gratka.pl/pomoc/"
                                           target="_blank" rel="noopener">Pomoc</a>
                                        <a style="margin-right:15px;" href="http://ofirmie.gratka.pl/kontakt/"
                                           target="_blank" rel="noopener">Kontakt</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" height="10px" style="height: 10px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td align="left"
                                        style="font-size: 10px;color:#666;font-family: Arial, Helvetica, FreeSans, sans-serif;padding-left: 0;">
                                        <p style="margin-top: 0;margin-bottom: 0;">
                                            <a href="http://www.gratka.pl/freshmail/rezygnacja/?email=m4Fh8oUMz6X06iDPUvQFh3-qqF5aMxRxSWhHt6fW-KjTqHXWDlutdUSr_dibZwGsQqmez1mhr_pNE7v_1YFRxA%3D%3D&amp;id_uzytkownik=7310768&amp;id_zgoda=1&amp;utm_source=inf-ogl-ale&amp;utm_campaign=sys-email&amp;utm_medium=email&amp;utm_content=ogloszenie-link"
                                               target="_blank" rel="noopener">Nie chcę otrzymywać więcej takich
                                                wiadomości</a>
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td align="left" width="20px" height="100%" style="width: 20px;height: 100%"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</center>
</body>
</html>
