<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<center>
    <table align="center" width="560">
        <tbody>
        <tr>
            <td width="100%" height="20px" style="height: 20px;width: 100%"></td>
        </tr>
        <tr>
            <td align="center" width="100%" height="100%" style="width: 100%;height: 100%">
                <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#fff"
                       style="background-color: #fff;border: 1px solid #b9b9b9;font-size: 14px;font-family: Arial, Helvetica, sans-serif;">
                    <tbody>
                    <tr>
                        <td width="20px" height="100%" style="width: 20px;height: 100%"></td>
                        <td width="auto" height="100%" style="width: auto;height: 100%">
                            <table cellspacing="0" cellpadding="0" width="100%" height="100%" style="border: 0;">
                                <tbody>
                                <tr>
                                    <td width="100%" height="20px" style="height: 20px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellspacing="0" cellpadding="0" width="100%" height="100%"
                                               style="border: 0;">
                                            <tbody>
                                            <tr>
                                                <td align="left" valign="top">
                                                    <a href="https://www.adtoday.co.uk" target="_blank"
                                                       rel="noopener"><img
                                                            src="https://adtoday.co.uk/template/assets/img/basic/logo.png"
                                                            alt="adtoday.co.uk" width="160" height="50" border="0"
                                                            align="top" longdesc="https://www.adtoday.co.uk"
                                                            data-title="adtoday.co.uk"></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" width="100%" height="19px" style="height: 19px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td align="left" bgcolor="#ccc" width="100%" height="1px"
                                        style="background-color: #ccc;height: 1px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td align="left" width="100%" height="20px" style="height: 20px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td width="100%" height="100%" style="height: 100%;width: 100%">
                                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tbody>
                                            <tr>
                                                <td height="15" bg-color="#ffffff"
                                                    style="background-color: #ffffff;padding: 0;margin: 0;"></td>
                                            </tr>
                                            <tr align="center">
                                                <td>
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr height="20" style="height:20px;">
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 14px;font-family: Arial, Helvetica, FreeSans, sans-serif;">
                                                                <b>Witaj Vladislav,
                                                                </b></td>
                                                        </tr>
                                                        <tr height="16" style="height:16px;">
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 14px;font-family: Arial, Helvetica, FreeSans, sans-serif;">
                                                                Dziękujemy za skorzystanie z opcji <b>Zarejestruj przez
                                                                Facebook</b>.
                                                            </td>
                                                        </tr>
                                                        <tr height="16" style="height:16px;">
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 14px;font-family: Arial, Helvetica, FreeSans, sans-serif;">
                                                                Abyśmy mogli lepiej dostosować naszą ofertę do Twoich
                                                                potrzeb i preferencji zachęcamy do uzupełnienia danych w
                                                                Twoim koncie.
                                                            </td>
                                                        </tr>
                                                        <tr height="36" style="height:36px;">
                                                            <td></td>
                                                        </tr>
                                                        <tr align="center">
                                                            <td>
                                                                <table border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <table border="0" cellspacing="0"
                                                                                   cellpadding="0">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td bgcolor="#ff002b"
                                                                                        style="padding: 24px 24px 22px 24px;border-bottom: 2px solid #bf0020;"
                                                                                        align="center"><a
                                                                                            href="http://www.gratka.pl/konto/moje-dane/dane-ogolne/?utm_source=rpf-gratka&amp;utm_medium=email&amp;utm_campaign=rejestracja-przez-facebook"
                                                                                            target="_blank"
                                                                                            style="font-size: 20px;font-family: 'Lato', Arial, Helvetica, FreeSans, sans-serif;font-weight: bold;color: #fff;text-decoration: none;display: inline-block;"
                                                                                            title="Uzupełnij dane"
                                                                                            rel="noopener"><font
                                                                                            face="'Lato', Arial, Helvetica, FreeSans, sans-serif">UZUPEŁNIJ
                                                                                        DANE</font></a></td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr height="36" style="height:36px;">
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 14px;font-family: Arial, Helvetica, FreeSans, sans-serif;">
                                                                Twój login w portalu <a href="http://gratka.pl"
                                                                                        target="_blank"
                                                                                        style="font-family: Arial, Helvetica, sans-serif;"
                                                                                        rel="noopener"
                                                                                        data-snippet-id="f5417e47-d983-35d5-e0b1-749359418192">Gratka.pl</a>:<br><a
                                                                    href="//e.mail.ru/compose/?mailto=mailto%3agothards@mail.ru"
                                                                    target="_blank"
                                                                    rel="noopener"><b>gothards@mail.ru</b></a></td>
                                                        </tr>
                                                        <tr height="16" style="height:16px;">
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 14px;font-family: Arial, Helvetica, FreeSans, sans-serif;">
                                                                <p>Od teraz loguj się w całym portalu <a
                                                                        href="http://gratka.pl" target="_blank"
                                                                        style="color: #0663ba;font-family: Arial, Helvetica, sans-serif;"
                                                                        rel="noopener">Gratka.pl</a> przez Facebook.</p>
                                                                <p>W momencie kontaktu telefonicznego z Biurem Obsługi
                                                                    Klienta
                                                                    zostaniesz poproszony o podanie pinBOKu oraz loginu
                                                                    - w ten
                                                                    sposób zwiększamy bezpieczeństwo Twojego konta.</p>
                                                                <p><b>Twój pinBOK</b> znajduje się na stronie:<br>
                                                                    <a href="http://www.gratka.pl/konto/moje-dane/pinBOK/"
                                                                       target="_blank"
                                                                       style="color: #0663ba;font-family: Arial, Helvetica, sans-serif;"
                                                                       rel="noopener">http://www.gratka.pl/konto/moje-dane/pinBOK/</a>
                                                                </p></td>
                                                        </tr>
                                                        <tr height="16" style="height:16px;">
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 14px;font-family: Arial, Helvetica, FreeSans, sans-serif;">
                                                                <a href="http://www.facebook.com/gratka"
                                                                   style="color: #0663ba;font-family: Arial, Helvetica, sans-serif;"
                                                                   target="_blank" rel="noopener">
                                                                    <strong>
                                                                        <img src="https://proxy.imgsmail.ru?email=gothards%40mail.ru&amp;e=1503941236&amp;h=t4fuXdqsb6iHHUFfzqzH3w&amp;url171=cy1nZy5wcHN0YXRpYy5wbC9zL2ltZy9tYWlsaW5naS9mYi5naWY~&amp;is_https=1"
                                                                             width="22" height="22" alt=""
                                                                             align="absmiddle" border="0"> Dołącz do
                                                                        Gratka.pl na facebook.com
                                                                    </strong>
                                                                </a></td>
                                                        </tr>
                                                        <tr height="16" style="height:16px;">
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left"
                                                                style="font-family: Arial, Helvetica, sans-serif;font-size: 11px;padding-left: 0;">
                                                                <p style="margin-top: 0;margin-bottom: 0;">
                                                                    Jeśli masz pytania, zadzwoń lub napisz do nas:<br>
                                                                    tel.: <a target="_blank" rel="noopener">(<span
                                                                        class="js-phone-number highlight-phone"
                                                                        title="Позвонить через Веб-Агент">+48 58) 739 66 00</span></a><br>
                                                                    e-mail: <a
                                                                        href="//e.mail.ru/compose/?mailto=mailto%3abok@gratka.pl"
                                                                        target="_blank" rel="noopener">bok@gratka.pl</a>
                                                                </p>
                                                            </td>
                                                        </tr>

                                                        <tr height="20" style="height:20px;">
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size:11px;font-family: Arial, Helvetica, FreeSans, sans-serif;">
                                                                Pozdrawiamy,<br>Zespół <a href="http://www.gratka.pl/"
                                                                                          target="_blank" title=""
                                                                                          rel="noopener">gratka.pl</a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td height="15" bg-color="#ffffff"
                                                    style="background-color: #ffffff;padding: 0;margin: 0;"></td>
                                            </tr>
                                            <tr>
                                                <td height="20" colspan="2" align="left"
                                                    style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;padding-left: 0;">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-size: 14px;margin-top: 14px;margin-bottom: 20px;line-height: 20px;">
                                            Możesz też zwiększyć zainteresowanie swoim ogłoszeniem, publikując je na
                                            facebooku.
                                        </p>
                                        <table width="100%">
                                            <tbody>
                                            <tr height="10">
                                                <td colspan="2" height="10"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="text-align: center;">
                                                    <a href="https://www.facebook.com/sharer.php?u=http://alegratka.pl/ogloszenie/test-zgloszenie-28919367.html"
                                                       target="_blank" rel="noopener"
                                                       data-title="Pokaż ogłoszenie na Facebooku">
                                                        <img src="//af12.mail.ru/cgi-bin/readmsg?id=15017095170000000838;0;0;1;2&amp;mode=attachment&amp;email=gothards@mail.ru&amp;bs=8658&amp;bl=3151&amp;ct=image%2fpng&amp;cn=btn_fb_pokaz.png&amp;cte=binary"
                                                             alt="Pokaż ogłoszenie na Facebooku">
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr height="20">
                                                <td colspan="5" height="20"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>


                                <tr>
                                    <td>Informujemy, że wyraziłeś zgodę na rozpoczęcie świadczenia usługi przed upływem
                                        terminu do odstąpienia od umowy oraz na jej wykonanie w całości przed upływem
                                        terminu do odstąpienia od umowy.
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" height="20px" align="left" style="height: 20px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left" bg-color="#ffffff"
                                        style="background-color: #ffffff;padding: 0;margin: 0;font-family: Verdana, Geneva, Bitstram Vera Sans, sans-serif;font-size: 12px;">
                                        <p style="padding: 0;margin: 5px 0 15px;font-family: Verdana, Geneva, Bitstram Vera Sans, sans-serif;font-size: 11px;color: #252525;text-align: left;">
                                            Jeśli masz pytania, zadzwoń lub napisz do nas:<br>
                                            tel.: <a target="_blank" rel="noopener">(<span
                                                class="js-phone-number highlight-phone"
                                                data-title="Позвонить через Веб-Агент">+48) 58 739 66 00</span></a><br>
                                            e-mail: <a href="//e.mail.ru/compose/?mailto=mailto%3abok@gratka.pl"
                                                       target="_blank" rel="noopener">bok@gratka.pl</a><br>
                                            Kontakt w dni robocze: 09.00-17.00
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" height="20px" align="left" style="height: 20px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td align="left"
                                        style="font-size:11px;font-family: Arial, Helvetica, FreeSans, sans-serif;">
                                        <p style="margin-top: 0;margin-bottom: 0;">
                                            Pozdrawiamy,<br>
                                            Zespół <a href="http://www.gratka.pl" target="_blank" title=""
                                                      rel="noopener">Gratka.pl</a>
                                        </p></td>
                                </tr>
                                <tr>
                                    <td width="100%" height="20px" align="left" style="height: 20px;width: 100%"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" width="20px" height="100%" style="width: 20px;height: 100%"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td width="100%" height="20px" style="height: 20px;width: 100%"></td>
        </tr>
        <tr>
            <td width="100%" height="100%" style="width: 100%;height: 100%">
                <table align="center" width="100%" cellspacing="0" cellpadding="0"
                       style="font-family: Arial, Helvetica, sans-serif;">
                    <tbody>
                    <tr>
                        <td width="20px" height="100%" style="width: 20px;height: 100%"></td>
                        <td width="auto" height="100%" style="width: auto;height: 100%">
                            <table cellspacing="0" cellpadding="0" width="100%" height="100%" style="border: 0;">
                                <tbody>
                                <tr>
                                    <td align="left" width="100%" height="100%" style="width: 100%;height: 100%">
                                        <p style="color: #666;font-size: 10px;font-family: Arial, Helvetica, FreeSans, sans-serif;margin: 0;">
                                            Polska Press Sp. z o.o., 02-672 Warszawa, ul. Domaniewska 45,<br>NIP
                                            522-01-03-609, Sąd Rejonowy dla m.st. Warszawy, XIII Wydział Gospodarczy<br>Krajowego
                                            Rejestru Sądowego nr KRS 0000002408, Kapitał Zakładowy 42.000.000 PLN</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" height="10px" style="height: 10px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td align="left"
                                        style="font-size: 10px;font-family: Arial, Helvetica, FreeSans, sans-serif;">
                                        <a style="margin-right:15px;" href="http://ofirmie.gratka.pl" target="_blank"
                                           rel="noopener">O firmie</a>
                                        <a style="margin-right:15px;" href="http://ofirmie.gratka.pl/regulamin/"
                                           target="_blank" rel="noopener">Regulamin</a>
                                        <a style="margin-right:15px;"
                                           href="http://ofirmie.gratka.pl/polityka-prywatnosci/" target="_blank"
                                           rel="noopener">Polityka prywatności</a>
                                        <a style="margin-right:15px;" href="http://ofirmie.gratka.pl/pomoc/"
                                           target="_blank" rel="noopener">Pomoc</a>
                                        <a style="margin-right:15px;" href="http://ofirmie.gratka.pl/kontakt/"
                                           target="_blank" rel="noopener">Kontakt</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" height="10px" style="height: 10px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td align="left"
                                        style="font-size: 10px;color:#666;font-family: Arial, Helvetica, FreeSans, sans-serif;padding-left: 0;">
                                        <p style="margin-top: 0;margin-bottom: 0;">
                                            <a href="http://www.gratka.pl/freshmail/rezygnacja/?email=m4Fh8oUMz6X06iDPUvQFh3-qqF5aMxRxSWhHt6fW-KjTqHXWDlutdUSr_dibZwGsQqmez1mhr_pNE7v_1YFRxA%3D%3D&amp;id_uzytkownik=7310768&amp;id_zgoda=1&amp;utm_source=inf-ogl-ale&amp;utm_campaign=sys-email&amp;utm_medium=email&amp;utm_content=ogloszenie-link"
                                               target="_blank" rel="noopener">Nie chcę otrzymywać więcej takich
                                                wiadomości</a>
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td align="left" width="20px" height="100%" style="width: 20px;height: 100%"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</center>
</body>
</html>
