<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<center>
    <table align="center" width="560">
        <tbody>
        <tr>
            <td width="100%" height="20px" style="height: 20px;width: 100%"></td>
        </tr>
        <tr>
            <td align="center" width="100%" height="100%" style="width: 100%;height: 100%">
                <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#fff"
                       style="background-color: #fff;border: 1px solid #b9b9b9;font-size: 14px;font-family: Arial, Helvetica, sans-serif;">
                    <tbody>
                    <tr>
                        <td width="20px" height="100%" style="width: 20px;height: 100%"></td>
                        <td width="auto" height="100%" style="width: auto;height: 100%">
                            <table cellspacing="0" cellpadding="0" width="100%" height="100%" style="border: 0;">
                                <tbody>
                                <tr>
                                    <td width="100%" height="20px" style="height: 20px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellspacing="0" cellpadding="0" width="100%" height="100%"
                                               style="border: 0;">
                                            <tbody>
                                            <tr>
                                                <td align="left" valign="top">
                                                    <a href="https://www.adtoday.co.uk" target="_blank"
                                                       rel="noopener"><img
                                                            src="https://adtoday.co.uk/template/assets/img/basic/logo.png"
                                                            alt="adtoday.co.uk" width="160" height="50" border="0"
                                                            align="top" longdesc="https://www.adtoday.co.uk"
                                                            data-title="adtoday.co.uk"></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" width="100%" height="19px" style="height: 19px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td align="left" bgcolor="#ccc" width="100%" height="1px"
                                        style="background-color: #ccc;height: 1px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td align="left" width="100%" height="20px" style="height: 20px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td width="100%" height="100%" style="height: 100%;width: 100%">
                                        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tbody>
                                            <tr>
                                                <td height="15" bg-color="#ffffff"
                                                    style="background-color: #ffffff;padding: 0;margin: 0;"></td>
                                            </tr>
                                            <tr align="center">
                                                <td>
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr height="20" style="height:20px;">
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 14px;font-family: Arial, Helvetica, FreeSans, sans-serif;">
                                                                <b>Hello %username%,
                                                                </b></td>
                                                        </tr>
                                                        <tr height="16" style="height:16px;">
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 14px;font-family: Arial, Helvetica, FreeSans, sans-serif;">
                                                                Thank you for registering for <b>AdToday.co.uk</b>.
                                                            </td>
                                                        </tr>
                                                        <tr height="16" style="height:16px;">
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 14px;font-family: Arial, Helvetica, FreeSans, sans-serif;">

                                                                So we can better adapt our offer to Your needs and preferences we recommend <br> you in addition to the data in Your account.
                                                            </td>
                                                        </tr>
                                                        <tr height="36" style="height:36px;">
                                                            <td></td>
                                                        </tr>
                                                        <tr align="center">
                                                            <td>
                                                                <table border="0" cellspacing="0" cellpadding="0">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <table border="0" cellspacing="0"
                                                                                   cellpadding="0">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td bgcolor="#0DABDB"
                                                                                        style="padding: 24px 24px 22px 24px;border-bottom: 2px solid #000000;"
                                                                                        align="center"><a
                                                                                            href="https://www.adtoday.co.uk/account"
                                                                                            target="_blank"
                                                                                            style="font-size: 20px;font-family: 'Lato', Arial, Helvetica, FreeSans, sans-serif;font-weight: bold;color: #fff;text-decoration: none;display: inline-block;"
                                                                                            title="Go to your account"
                                                                                            rel="noopener"><font
                                                                                            face="'Lato', Arial, Helvetica, FreeSans, sans-serif">Go to your account
                                                                                    </font></a></td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr height="36" style="height:36px;">
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 14px;font-family: Arial, Helvetica, FreeSans, sans-serif;">
                                                                Your login in portal
                                                                <a href="https://adtoday.co.uk"
                                                                   target="_blank"
                                                                   style="font-family: Arial, Helvetica, sans-serif;"
                                                                   rel="noopener"
                                                                   data-snippet-id="f5417e47-d983-35d5-e0b1-749359418192">adtoday.co.uk</a><br>
                                                                <a href="mailto:help@adtoday.co.uk" target="_blank" rel="noopener"><b>%user_login%</b></a>
                                                            </td>
                                                        </tr>
                                                        <tr height="16" style="height:16px;">
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 14px;font-family: Arial, Helvetica, FreeSans, sans-serif;">
                                                                <p>At the time telephone contact with customer Support
                                                                    you will be prompted to enter the secretCODE and login
                                                                    - so we increase the security of Your account.</p>
                                                            </td>
                                                        </tr>
                                                        <tr height="16" style="height:16px;">
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 14px;font-family: Arial, Helvetica, FreeSans, sans-serif;">
                                                                <a href="http://www.facebook.com/adtoday"
                                                                   style="color: #0663ba;font-family: Arial, Helvetica, sans-serif;"
                                                                   target="_blank" rel="noopener">
                                                                    <strong>
                                                                        <img src="https://adtoday.co.uk/template/assets/img/mail/unnamed.gif"
                                                                             width="22" height="22" alt=""
                                                                             align="absmiddle" border="0">Join AdToday.co.uk on facebook.com
                                                                    </strong>
                                                                </a></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td height="15" bg-color="#ffffff"
                                                    style="background-color: #ffffff;padding: 0;margin: 0;"></td>
                                            </tr>
                                            <tr>
                                                <td height="20" colspan="2" align="left"
                                                    style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;padding-left: 0;">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Please be informed that the consent to begin providing services before the expiry of
                                        the deadline to withdraw from the contract and payment in full before the expiration
                                        deadline for withdrawal from the contract.
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" height="20px" align="left" style="height: 20px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left" bg-color="#ffffff"
                                        style="background-color: #ffffff;padding: 0;margin: 0;font-family: Verdana, Geneva, Bitstram Vera Sans, sans-serif;font-size: 12px;">
                                        <p style="padding: 0;margin: 5px 0 15px;font-family: Verdana, Geneva, Bitstram Vera Sans, sans-serif;font-size: 11px;color: #252525;text-align: left;">
                                            If you have questions, please call or email us:<br>
                                            tel.: <a target="_blank" rel="noopener"><span
                                                class="js-phone-number highlight-phone">%mobile_number%</span></a><br>
                                            e-mail: <a href="mailto:help@adtoday.co.uk">help@adtoday.co.uk
                                        </a><br>
                                            Contact us on working days: 09.00-17.00
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" height="20px" align="left" style="height: 20px;width: 100%"></td>
                                </tr>
                                <tr>
                                    <td align="left"
                                        style="font-size:11px;font-family: Arial, Helvetica, FreeSans, sans-serif;">
                                        <p style="margin-top: 0;margin-bottom: 0;">
                                            With best regards,<br>
                                            Team <a href="https://www.adtoday.co.uk" target="_blank" title=""
                                                    rel="noopener">AdToday.co.uk</a>
                                        </p></td>
                                </tr>
                                <tr>
                                    <td width="100%" height="20px" align="left" style="height: 20px;width: 100%"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" width="20px" height="100%" style="width: 20px;height: 100%"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td width="100%" height="20px" style="height: 20px;width: 100%"></td>
        </tr>
        <tr>
            <td width="100%" height="100%" style="width: 100%;height: 100%">
                <table align="center" width="100%" cellspacing="0" cellpadding="0"
                       style="font-family: Arial, Helvetica, sans-serif;">
                    <tbody>
                    <tr>
                        <td width="20px" height="100%" style="width: 20px;height: 100%"></td>
                        <td width="auto" height="100%" style="width: auto;height: 100%">
                            <table cellspacing="0" cellpadding="0" width="100%" height="100%" style="border: 0;">
                                <tbody>
                                <tr>
                                    <td align="left" width="100%" height="100%" style="width: 100%;height: 100%">
                                        <p style="color: #666;font-size: 10px;font-family: Arial, Helvetica, FreeSans, sans-serif;margin: 0;"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" height="10px" style="height: 10px;width: 100%"></td>
                                </tr>
                                <!--                                <tr>
                                                                    <td align="left"
                                                                        style="font-size: 10px;font-family: Arial, Helvetica, FreeSans, sans-serif;">
                                                                        <a style="margin-right:15px;" href="http://ofirmie.gratka.pl" target="_blank"
                                                                           rel="noopener">About us</a>
                                                                        <a style="margin-right:15px;" href="https://ofirmie.gratka.pl/regulations/"
                                                                           target="_blank" rel="noopener">Regulations</a>
                                                                        <a style="margin-right:15px;"
                                                                           href="http://ofirmie.gratka.pl/polityka-prywatnosci/" target="_blank"
                                                                           rel="noopener">Polityka prywatności</a>
                                                                        <a style="margin-right:15px;" href="http://ofirmie.gratka.pl/pomoc/"
                                                                           target="_blank" rel="noopener">Pomoc</a>
                                                                        <a style="margin-right:15px;" href="http://ofirmie.gratka.pl/kontakt/"
                                                                           target="_blank" rel="noopener">Kontakt</a>
                                                                    </td>
                                                                </tr>-->
                                <tr>
                                    <td width="100%" height="10px" style="height: 10px;width: 100%"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td align="left" width="20px" height="100%" style="width: 20px;height: 100%"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</center>
</body>
</html>
