<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<center>
    <table align="center" class="m_90612348535500386responsywne" width="560">
        <tbody>
        <tr>
            <td width="100%" height="20px" style="height:20px;width:100%"></td>
        </tr>
        <tr>
            <td align="center" width="100%" height="100%" style="width:100%;height:100%">
                <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#fff"
                       style="background-color:#fff;border:1px solid #b9b9b9;font-size:14px;font-family:Arial,Helvetica,sans-serif">
                    <tbody>
                    <tr>
                        <td width="20px" height="100%" style="width:20px;height:100%"></td>
                        <td width="auto" height="100%" style="width:auto;height:100%">
                            <table cellspacing="0" cellpadding="0" width="100%" height="100%" style="border:0">
                                <tbody>
                                <tr>
                                    <td width="100%" height="20px" style="height:20px;width:100%"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellspacing="0" cellpadding="0" width="100%" height="100%"
                                               style="border:0">
                                            <tbody>
                                            <tr>
                                                <td align="left" valign="top">
                                                    <a href="https://www.adtoday.co.uk" target="_blank"
                                                       rel="noopener"><img
                                                            src="https://adtoday.co.uk/template/assets/img/basic/logo.png"
                                                            alt="adtoday.co.uk" width="160" height="50" border="0"
                                                            align="top" longdesc="https://www.adtoday.co.uk"
                                                            data-title="adtoday.co.uk"></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" width="100%" height="19px" style="height:19px;width:100%"></td>
                                </tr>
                                <tr>
                                    <td align="left" bgcolor="#ccc" width="100%" height="1px"
                                        style="background-color:#ccc;height:1px;width:100%"></td>
                                </tr>
                                <tr>
                                    <td align="left" width="100%" height="20px" style="height:20px;width:100%"></td>
                                </tr>
                                <tr>
                                    <td width="100%" height="100%" style="height:100%;width:100%">


                                    </td>
                                </tr>
                                <tr style="font-size:14px;line-height:22px;text-align:left">
                                    <td>

                                        <p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;margin-top:20px;margin-bottom:20px">
                                            <b>Hey!</b>
                                        </p>
                                        <p style="font-size:14px;margin-top:14px;margin-bottom:10px;line-height:20px">
                                            Your ad <b><a style="color:#0076ba;font-weight:bold"
                                                          href="http://alegratka.pl/ogloszenie/test-zdloszenie-28915963.html?utm_source=pow-ogl-ale&amp;utm_campaign=sys-email&amp;utm_medium=email&amp;utm_content=ogloszenie-link"
                                                          target="_blank"
                                                          data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://alegratka.pl/ogloszenie/test-zdloszenie-28915963.html?utm_source%3Dpow-ogl-ale%26utm_campaign%3Dsys-email%26utm_medium%3Demail%26utm_content%3Dogloszenie-link&amp;source=gmail&amp;ust=1501797529844000&amp;usg=AFQjCNEGcrGnswPdGY04M5TonX0HMyewZw">%title%</a>
                                            (number: %number%) </b>
                                            has been added, but it is not published. If you want to publish it now click
                                            on the button below
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="15" style="background-color:#ffffff;padding:0;margin:0"></td>
                                </tr>
                                <tr align="center">
                                    <td>
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                        <tr>
                                                            <td bgcolor="#ff002b"
                                                                style="padding-left:10px;padding-right:10px;border-bottom:2px solid #0083c9;background-color:#77c04b;"
                                                                align="center">
                                                                <a href="http://alegratka.pl/uzytkownik/ogloszenia/index.html?aktywuj=28915963&amp;hash=4ebeceb58b8b40febdb04c56b1a28fb0&amp;id=9889827&amp;utm_source=pow-ogl-ale&amp;utm_campaign=sys-email&amp;utm_medium=email&amp;utm_content=ogloszenie-link"
                                                                   style="padding:10px;font-size:20px;font-family:Arial,Helvetica,FreeSans,sans-serif;font-weight:bold;color:#fff;text-decoration:none;display:inline-block"
                                                                   title="Activate the ad" target="_blank"
                                                                   data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://alegratka.pl/uzytkownik/ogloszenia/index.html?aktywuj%3D28915963%26hash%3D4ebeceb58b8b40febdb04c56b1a28fb0%26id%3D9889827%26utm_source%3Dpow-ogl-ale%26utm_campaign%3Dsys-email%26utm_medium%3Demail%26utm_content%3Dogloszenie-link&amp;source=gmail&amp;ust=1501797529844000&amp;usg=AFQjCNEz_Ql-XX0yl4H3TLFVvrpxto7Pag">
                                                                    <font face=", Arial, Helvetica, FreeSans, sans-serif">Activate
                                                                        the ad</font>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td height="15" style="background-color:#ffffff;padding:0;margin:0"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-size:14px;margin-top:14px;margin-bottom:10px;line-height:20px">
                                            The post after activation will be active for 31 days. After this time it
                                            will be possible to extend it - we will let you know by mail.
                                        </p>
                                    </td>
                                </tr>


                                <tr>
                                </tr>
                                <tr>
                                    <td width="100%" height="20px" align="left" style="height:20px;width:100%"></td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left"
                                        style="background-color:#ffffff;padding:0;margin:0;font-family:Verdana,Geneva,Bitstram Vera Sans,sans-serif;font-size:12px">
                                        <p style="padding:0;margin:5px 0 15px;font-family:Verdana,Geneva,Bitstram Vera Sans,sans-serif;font-size:11px;color:#252525;text-align:left">
                                            If you have questions, call us or write to us:<br>
                                            tel.: <a href="tel:+48%2058%20739%2066%2000" target="_blank">+
                                            (test)</a><br>
                                            e-mail: <a href="mailto:help.adtoday.co.uk" target="_blank">help.adtoday.co.uk</a><br>
                                            Contact us on working days: 09.00-17.00
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" height="20px" align="left" style="height:20px;width:100%"></td>
                                </tr>
                                <tr>
                                    <td align="left"
                                        style="font-size:11px;font-family:Arial,Helvetica,FreeSans,sans-serif">
                                        <p style="margin-top:0;margin-bottom:0">
                                            Regards,<br>
                                            Team <a href="http://www.adtoday.co.uk" title="" target="_blank"
                                                    data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=https://www.adtoday.co.uk">Adtoday.co.uk</a>
                                        </p></td>
                                </tr>
                                <tr>
                                    <td width="100%" height="20px" align="left" style="height:20px;width:100%"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" width="20px" height="100%" style="width:20px;height:100%"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>


    <table>
        <tbody>
        <tr>
            <td width="100%" height="20px" style="height:20px;width:100%"></td>
        </tr>
        <tr>
            <td width="100%" height="100%" style="width:100%;height:100%">
                <table align="center" width="100%" cellspacing="0" cellpadding="0"
                       style="font-family:Arial,Helvetica,sans-serif">
                    <tbody>
                    <tr>
                        <td width="20px" height="100%" style="width:20px;height:100%"></td>
                        <td width="auto" height="100%" style="width:auto;height:100%">
                            <table cellspacing="0" cellpadding="0" width="100%" height="100%" style="border:0">
                                <tbody>
                               <!-- <tr>
                                    <td align="left" width="100%" height="100%" style="width:100%;height:100%">
                                        <p style="color:#666;font-size:10px;font-family:Arial,Helvetica,FreeSans,sans-serif;margin:0">
                                            Polska Press Sp. z o.o., 02-672 Warszawa, ul. Domaniewska 45,<br>NIP
                                            522-01-03-609, Sąd Rejonowy dla <a href="http://m.st" target="_blank"
                                                                               data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://m.st&amp;source=gmail&amp;ust=1501797529844000&amp;usg=AFQjCNFwpbPBbTidGqDM_0qggXfjf8ycjw">m.st</a>.
                                            Warszawy, XIII Wydział Gospodarczy<br>Krajowego Rejestru Sądowego nr KRS
                                            0000002408, Kapitał Zakładowy 42.000.000 PLN</p>
                                    </td>
                                </tr>-->
                                <tr>
                                    <td width="100%" height="10px" style="height:10px;width:100%"></td>
                                </tr>
                             <!--   <tr>
                                    <td align="left"
                                        style="font-size:10px;font-family:Arial,Helvetica,FreeSans,sans-serif">
                                        <a style="margin-right:15px" href="http://ofirmie.gratka.pl" target="_blank"
                                           data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://ofirmie.gratka.pl&amp;source=gmail&amp;ust=1501797529844000&amp;usg=AFQjCNEzPcaAp_5HpPuwYpB3ytwmtrC78Q">O
                                            firmie</a>
                                        <a style="margin-right:15px" href="http://ofirmie.gratka.pl/regulamin/"
                                           target="_blank"
                                           data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://ofirmie.gratka.pl/regulamin/&amp;source=gmail&amp;ust=1501797529844000&amp;usg=AFQjCNG7gbdn0saEVBKD6RSionJmaSgqlQ">Regulamin</a>
                                        <a style="margin-right:15px"
                                           href="http://ofirmie.gratka.pl/polityka-prywatnosci/" target="_blank"
                                           data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://ofirmie.gratka.pl/polityka-prywatnosci/&amp;source=gmail&amp;ust=1501797529844000&amp;usg=AFQjCNF9lUj-q9Ff1mJtfHOqJK55hCJq6g">Polityka
                                            prywatności</a>
                                        <a style="margin-right:15px" href="http://ofirmie.gratka.pl/pomoc/"
                                           target="_blank"
                                           data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://ofirmie.gratka.pl/pomoc/&amp;source=gmail&amp;ust=1501797529844000&amp;usg=AFQjCNEUYAlQfr1Mz1osi_O1fSw1Ok96Ug">Pomoc</a>
                                        <a style="margin-right:15px" href="http://ofirmie.gratka.pl/kontakt/"
                                           target="_blank"
                                           data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://ofirmie.gratka.pl/kontakt/&amp;source=gmail&amp;ust=1501797529844000&amp;usg=AFQjCNFC32Q2BQdcMAqHWstpf6S2UKpNlQ">Kontakt</a>
                                    </td>
                                </tr>-->
                                </tbody>
                            </table>
                        </td>
                        <td align="left" width="20px" height="100%" style="width:20px;height:100%"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</center>
</body>
</html>