<form method="post">
    <div class="elements-block">
        <div class="inner">
            <div class="row field-block">
                <div class="col-xs-12 col-md-3">
                    <label class="required" for="title">Title of your ad</label>
                </div>
                <div class="col-xs-12 col-md-9">
                    <input type="text" id="title" name="title" required>
                </div>
            </div>
            <hr>
            <div class="row field-block">
                <div class="col-xs-12 col-md-3">
                    <label class="required" for="description">Ad Description</label>
                </div>
                <div class="col-xs-12 col-md-9">
                                    <textarea id="description"
                                              name="description"></textarea>
                </div>
            </div>

            <hr>
            <div class="row field-block">
                <div class="col-xs-12 col-md-3">
                    <span class="required label">Gender</span>
                </div>
                <div class="col-xs-12 col-md-9">
                    <div class="mega-dropdown-wrap">
                        <div class="mega-dropdown">
                            <button>Select an option</button>
                            <i class="fa fa-navicon"></i>
                            <div class="mega-content">
                                <ul class="sub-category" id="gender-list">
                                    <li data-value="male"><a href="#">Male</a>
                                    <li data-value="female"><a href="#">Female</a>
                                    <li data-value="transgender"><a href="#">Transgender</a>
                                    <li data-value="ts"><a href="#">TS</a>
                                    <li data-value="tv"><a href="#">TV</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input id="gender" name="gender" type="hidden"/>

            <div class="row field-block">
                <div class="col-xs-12 col-md-3">
                    <span class="required label">Age</span>
                </div>
                <div class="col-xs-12 col-md-9">
                    <div class="radio-dropdown">
                        <i class="fa fa-bars"></i>
                        <button>Select an option</button>
                        <ul>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="18" id="age-18">
                                <label for="age-18">18</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="19" id="age-19">
                                <label for="age-19">19</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="20" id="age-20">
                                <label for="age-20">20</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="21" id="age-21">
                                <label for="age-21">21</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="22" id="age-22">
                                <label for="age-22">22</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="23" id="age-23">
                                <label for="age-23">23</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="24" id="age-24">
                                <label for="age-24">24</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="25" id="age-25">
                                <label for="age-25">25</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="26" id="age-26">
                                <label for="age-26">26</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="27" id="age-27">
                                <label for="age-27">27</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="28" id="age-28">
                                <label for="age-28">28</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="29" id="age-29">
                                <label for="age-29">29</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="30" id="age-30">
                                <label for="age-30">30</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="31" id="age-31">
                                <label for="age-31">31</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="32" id="age-32">
                                <label for="age-32">32</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="33" id="age-33">
                                <label for="age-33">33</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="34" id="age-34">
                                <label for="age-34">34</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="35" id="age-35">
                                <label for="age-35">35</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="36" id="age-36">
                                <label for="age-36">36</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="37" id="age-37">
                                <label for="age-37">37</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="38" id="age-38">
                                <label for="age-38">38</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="39" id="age-39">
                                <label for="age-39">39</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="40" id="age-40">
                                <label for="age-40">40</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="41" id="age-41">
                                <label for="age-41">41</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="42" id="age-42">
                                <label for="age-42">42</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="43" id="age-43">
                                <label for="age-43">43</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="44" id="age-44">
                                <label for="age-44">44</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="45" id="age-45">
                                <label for="age-45">45</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="46" id="age-46">
                                <label for="age-46">46</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="47" id="age-47">
                                <label for="age-47">47</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="48" id="age-48">
                                <label for="age-48">48</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="49" id="age-49">
                                <label for="age-49">49</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="50" id="age-50">
                                <label for="age-50">50</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="51" id="age-51">
                                <label for="age-51">51</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="52" id="age-52">
                                <label for="age-52">52</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="53" id="age-53">
                                <label for="age-53">53</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="54" id="age-54">
                                <label for="age-54">54</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="55" id="age-55">
                                <label for="age-55">55</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="56" id="age-56">
                                <label for="age-56">56</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="57" id="age-57">
                                <label for="age-57">57</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="58" id="age-58">
                                <label for="age-58">58</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="59" id="age-59">
                                <label for="age-59">59</label>
                            </li>
                            <li class="custom-radio">
                                <input name="item-age-value" type="radio" value="60" id="age-60">
                                <label for="age-60">60+</label>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <hr>
