<form method="post">
    <div class="input-field">
        <label for="postcode" style="color: black">Post Code</label>
        <input type="text" name="postcode" id="search_postcode">
    </div>
    <div class="input-field">
        <label for="name" style="color: black">Your Name</label>
        <input type="text" name="name" id="name">
    </div>
    <div class="input-field">
        <label for="phone" style="color: black">Phone number</label>
        <input type="text" name="phone" id="phone">
    </div>
</form>
