<div class="shofy-form">
    <div class="input-field">
        <h3 class="out-label">Gender</h3>
        <select>
        <option value="Bisexual couple">Bisexual couple</option>
        <option value="Gay couple">Gay couple</option>
        <option value="Heterosexual couple">Heterosexual couple</option>
        <option value="Lesbian couple">Lesbian couple</option>
        <option value="Man">Man</option>
        <option value="Woman">Woman</option>
        </select>
    </div>
    <div class="input-field">
        <label for="name" style="color: black">Your Name</label>
        <input type="text" name="name" id="name">
    </div>
    <div class="input-field">
        <label for="phone" style="color: black">Phone number</label>
        <input type="text" name="phone" id="phone">
    </div>
</div>