<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Shofy - Mobile Shop Template</title>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="x-ua-compatible">
	<meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="shortcut icon" href="images/favicon.png">
</head>

<body>





	<div id="page">
		


		<!-- CONTENT CONTAINER -->
		<div class="content-container">

			<h1 class="page-title">Account Control Panel</h1>

			<p class="text-small"><span class="bold block">Hallo Natalie Amyllia</span>From this account control panel, you can see your detail account, last activity, and update your account information. Choose link below to see or update the information.</p>
			
			<!-- Contact Information Section -->
			<div class="panel-account margin-bottom">
				<div class="heading">Contact Information</div>
				<div class="body">
					<span class="block">Natalie Amyllia</span>
					<p>natalie.amyllia@example.com - <a href="#">change email</a></p>
					<div class="action">
						<a href="#">change</a>
					</div>
				</div>
			</div>
			<!-- End Contact Information Section -->

			<!-- Newsletter Section -->
			<div class="panel-account margin-bottom">
				<div class="heading">Newsletter</div>
				<div class="body">
					You are following newsletter currently, such : Shofy Newsletter
					<div class="action">
						<a href="#">change</a>
					</div>
				</div>
			</div>
			<!-- End Newsletter Section -->

			<!-- Billing Address Section -->
			<div class="panel-account margin-bottom">
				<div class="heading">Billing Address</div>
				<div class="body">
					<span class="block">Natalie Amyllia</span>
					<address>2206 Margasatwa Street, Tower 02
					Kansas, CA 22994<br />
					<abbr title="Phone">P:</abbr> (999) 123-456</address>
					<div class="action">
						<a href="#">change</a>
					</div>
				</div>
			</div>
			<!-- End Billing Address Section -->

			<!-- Shipping Address Section -->
			<div class="panel-account">
				<div class="heading">Shipping Address</div>
				<div class="body">
					<span class="block">Natalie Amyllia</span>
					<address>2206 Margasatwa Street, Tower 02
					Kansas, CA 22994<br />
					<abbr title="Phone">P:</abbr> (999) 123-456</address>
					<div class="action">
						<a href="#">change</a>
					</div>
				</div>
			</div>
			<!-- End Shipping Address Section -->

		</div>
		<!-- END CONTENT CONTAINER -->

		
		<!-- FOOTER -->
		<div class="footer">
			
			<!-- Footer main Section -->
			<div class="footer-main">
				<p>
					<span class="block text-small">Secure shopping at shofy via</span>
					<i class="fa fa-cc-amex"></i>
					<i class="fa fa-cc-mastercard"></i>
					<i class="fa fa-credit-card"></i>
					<i class="fa fa-cc-paypal"></i>
					<i class="fa fa-cc-visa"></i>
					<i class="fa fa-google-wallet"></i>
					<i class="fa fa-cc-discover"></i>
					<i class="fa fa-cc-jcb"></i>
				</p>
				<p>
					<span class="block text-small">Having problem? Contact us</span>
					+44 567 89 | ours@example.com | <a href="#">Live Chat</a>
				</p>

				<div class="social-footer">
					<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
					<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
					<a href="#" class="gplus"><i class="fa fa-google-plus"></i></a>
				</div>
			</div>
			<!-- End Footer main Section -->

			<!-- Copyright Section -->
			<div class="copyright">
				<span class="block">&copy; 2016 Shofy Inc - Mobile Shop Template</span>
				<div class="navigation">
					<a href="#">Term & Condition</a>
					<a href="#">Privacy Policy</a>
				</div>
			</div>
			<!-- End Copyright Section -->

		</div>
		<!-- End FOOTER -->

		<!-- Back to top Link -->
		<div id="to-top" class="main-bg"><i class="fa fa-long-arrow-up"></i></div>

	</div>
	<!-- END MAIN PAGE -->

</div><!-- #main -->

<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/jquery.slicknav.js"></script>
<script type="text/javascript" src="js/jquery.swipebox.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

</body>
</html>